name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build
        run: docker build -t udm-setup .

      #- name: Run & test
      #  run: docker run -v $PWD/data:/data --name udm-setup udm-setup
